* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#linklogo {
  z-index: 1;
  position: absolute;
  top: 3rem;
  left: 3rem;
}

#title {
  position: absolute;
  left: 43rem;
  top: 5rem;
  font-size: 80px;
  z-index: 2;
  color: white;
}

#chat {
  width: 800px;
  height: 400px;
  border: 1px solid #ffffff;
  background-color: darkgrey;
  font-size: 4rem;
  overflow-y: scroll;
  position: absolute;
  top: 21rem;
  left: 27rem;
}

#header {
  position: absolute;
  top: 0;
  width: 136.6rem;
  height: 20rem;
  background-color: rgb(56, 56, 56);
}

button {
  position: absolute;
  top: 20rem;
  left: 15rem;
}

input {
  position: absolute;
  top: 20rem;
  left: 0rem;
}
